tr class="feature_record #{row_class(feature_summary_counter)}" id="#{feature_summary.id}"
  - if @email
    td
      = feature_summary.name
  - else
    td
      a href=feature_summary.test_set_link
        = print_title(feature_summary.name)

  td.total=feature_summary.total_cases
  td.pass=feature_summary.total_passed
  td.fail=feature_summary.total_failed
  td.na=feature_summary.total_na
  td.rate=feature_summary.total_pass_rate
  td=feature_summary.graph_img_tag(max_cases)

  td class="feature_record_notes #{'edit' if @editing}"
    .content=MeegoTestReport::format_txt(feature_summary.comments).html_safe
    - if @editing
      .comment_markup style="display:none;"
        = MeegoTestReport::format_txt(feature_summary.comments).html_safe

  td class="feature_record_grading #{'edit' if @editing}"
    span class="content #{grading_class(feature_summary)}"
      |&nbsp;&nbsp;
    - if @editing
      .feature_record_grading_content style="display:none;"
        = grading_html(feature_summary)

