  <div id="upper_header_wrap">
  	<div id="upper_header">
  		<ul class="h-navi">
  			<li>
  				<a href="mailto:meego-qa@lists.meego.com" class="mailto">Give Feedback</a>
  			</li>
  			<li>
  				<a target="_blank" href="http://wiki.meego.com/Quality/QA-tools/QAReports" class="external">Documentation</a>
  			</li>
  			<li>
  				<a target="_blank" href="http://bugs.meego.com/enter_bug.cgi?product=MeeGo%20Quality%20Assurance&component=meego-qa-reports" class="external">Submit an Idea</a>
  			</li>
  			<li>
  				<%= render :partial => "shared/session_management" %>
  			</li>
  		</ul>
  	</div>
  </div>
 
 <div id="wrapper">
  <div id="header">
  	<div id="logo">
  	  <h3>
  	  	<a href="<%= url_for :controller => '/index', :action=>'index', :release_version => @selected_release_version %>">MeeGo | QA Reports</a>
  	  	<a href="<%= url_for :controller => '/index', :action=>'index', :release_version => @selected_release_version %>" class="hover"></a>
  	  </h3>
  	</div>

    

	<%= render :partial => "reports/upload_link" %>
  </div>
