<h2 id="contents_title">Contents</h2>
<ol class="toc">
  <li><a href="#test_objective">Test objective</a></li>
  <li><a href="#build">Build (image)</a></li>
  <li><a href="#environment">Test Environment</a></li>
  <li><a href="#qa_summary">Quality Summary</a></li>
  <li><a href="#test_results">Test Results</a></li>
  	<ol>
  	  <li><a href="#test_results">Result Summary</a></li>
	  <li><a href="#test_features">Test Results by Feature</a></li>
      <% if @test_session.has_non_nft? %>
  	  <li><a href="#detailed_results">Detailed Test Results</a></li>
      <% end %>
      <% if @test_session.has_nft? %>
  	  <li><a href="#detailed_nft_results">Non-Functional Test Results</a></li>
      <% end %>
  	</ol>
  <li><a href="#issue_summary">Issue Summary</a></li>
  
<% if (@files != nil && @files.length > 0) || @editing %>
  <li><a href="#attachments">Attachments</a></li>
<% end %>
<% if (@raw_result_files != nil && @raw_result_files.length > 0) || @editing %>
  <li><a href="#raw_result_files">Original Result Files</a></li>
<% end %>
</ol>
