- content_for :version_navi do
  #version_navi
    = release_version_navigation(release.name)

#index_page
  table#report_navigation
    thead
      tr
        = render :partial => "title", :collection => @profiles, :as => :profile
    tr
      = render :partial => "profile", :collection => @profiles
  a#home_edit_link href='#' Edit
  a#home_edit_done_link.small_btn href='#' Done

coffee:

  $('#home_edit_link').click () ->
    $('#index_page').addClass 'editing'
    $('#index_page.editing #report_navigation strong a, #index_page.editing #report_navigation ul li a').addClass 'editable_text'

  $('#home_edit_done_link').click () ->
    $('#index_page').removeClass 'editing'
    $('#index_page.editing #report_navigation strong a, #index_page.editing #report_navigation ul li a').removeClass 'editable_text'

  $('#index_page.editing #report_navigation strong a, #index_page.editing #report_navigation ul li a').live 'click', () ->
    alert 'In-place edit tähän'
    return false

  $('#index_page.editing #report_navigation ul li a').live 'mouseover', () ->
    hw_name = $(this).text()
    $('#index_page.editing #report_navigation ul li a').filter(() ->
      console.log this
      return $(this).text() == hw_name
    ).addClass('to_be_edited')

  $('#index_page.editing #report_navigation ul li a').live 'mouseout', () ->
    $('#index_page.editing #report_navigation ul li a').removeClass('to_be_edited')