- content_for :version_navi do
  #version_navi
    = release_version_navigation(release.name)

#index_page
  table#report_navigation
    thead
      tr.profiles
        th
          a.name href="#"
    tbody
      tr.profiles
        td.testsets
          div
            / TODO: Use css instead of strong tag
            strong
              a.name
              a.compare
            ul.products
              li
                a.name
  a#home_edit_link href='#'
  a#home_edit_done_link.small_btn href='#' Done

javascript:
  index_model = #{{@index_model.to_json}}

coffee:

  group_report_path = (data) ->
    if data.parent_ and data.parent_.name
      group_report_path(data.parent_) + "/#{data.name}"
    else
      "/#{index_model.release}/#{data.name}"

  directives =
    profiles:
      'name@href':    -> group_report_path(this)
      testsets:
        'name@href':  -> group_report_path(this)
        products:
         'name@href': -> group_report_path(this)


  $('#report_navigation').render(index_model, directives)

  $('#home_edit_link').click () ->
    $('#index_page').addClass 'editing'
    $('#index_page.editing #report_navigation strong a, #index_page.editing #report_navigation ul li a').addClass 'editable_text'

  $('#home_edit_done_link').click () ->
    $('#index_page').removeClass 'editing'
    $('#report_navigation strong a, #report_navigation ul li a').removeClass 'editable_text'

  $('#index_page.editing #report_navigation strong a, #index_page.editing #report_navigation ul li a').live 'click', () ->
    alert 'In-place edit tähän'
    return false

  $('#index_page.editing #report_navigation ul li a').live 'mouseover', () ->
    hw_name = $(this).text()
    $('#index_page.editing #report_navigation ul li a').filter(() ->
      return $(this).text() == hw_name
    ).addClass('to_be_edited')

  $('#index_page.editing #report_navigation ul li a').live 'mouseout', () ->
    $('#index_page.editing #report_navigation ul li a').removeClass('to_be_edited')
